.vscode
data
outputs
plots
pretrained_models
src/__pycache__
tools/_jupyter/.ipynb_checkpoints
training
validation
testing
void-dataset
test_data
pretrained
trained_kbnet/
setup/__pycache__
evaluation_results/
